<form name="addForm" ng-controller="AddCtrl">
    <label>How to retrieve the app:<br>
        <select ng-model="appData.installerType" />
            <option value="serve">cordova serve</option>
            <option value="cdvh">.cdvh file</option>
        </select>
    </label>
    <div ng-show="appData.installerType == 'serve'">
      <label>Enter server URL<br>
          <input class="topcoat-text-input" type="text" ng-model="appData.appUrl" autocorrect="off" autocapitalize="off" />
          <button class="topcoat-button" ng-click="fetchQR(appData, 'appUrl')" ng-show="qr_enabled">Scan QR Code</button><br>
      </label>
    </div>
    <div ng-show="appData.installerType == 'cdvh'">
      <label>Enter URL<br>
          <input class="topcoat-text-input" type="text" ng-model="appData.appUrl" autocorrect="off" autocapitalize="off" />
          <button class="topcoat-button" ng-click="fetchQR(appData, 'appUrl')" ng-show="qr_enabled">Scan QR Code</button><br>
      </label>
    </div>
    <div class="buttons">
        <button class="topcoat-button--cta" ng-click="addApp()">Add</button>
        <a href="#/"><button class="topcoat-button" ng-click="back()">Back</button></a>
    </div>
</form>
