<form name="addForm" ng-controller="AddCtrl">
    <label for="inputAppName">Enter the App Name</label><br />
    <input class="topcoat-text-input" type="text" name="appName" ng-model="appData.appName" ng-pattern="/^[\w ]*$/" ng-maxlength="64" required />
    <span ng-show="addForm.appName.$error.required">Required</span>
    <span ng-show="addForm.appName.$error.pattern">Invalid characters used</span>
    <span ng-show="addForm.appName.$error.maxlength">Too long</span>
    <br />

    <input type="radio" ng-model="appData.appSource" name="appSource" value="pattern" ng-checked="appData.appSource=='pattern'" />
        <label for="inputAppPattern">Enter the URL to a file</label><br />
        <input class="topcoat-text-input" id="inputAppPattern" type="text" name="appSourcePattern" ng-model="appData.appSourcePattern" ng-disabled="appData.appSource!='pattern'" ng-required="appData.appSource=='pattern'" autocorrect="off" autocapitalize="off" />
        <span ng-show="addForm.appSourcePattern.$error.required">Required</span>
        <br />
    <input type="radio" ng-model="appData.appSource" name="appSource" value="serve" ng-checked="appData.appSource=='serve'" />
        <label for="inputAppServe">Enter the URL to the server hosting the app</label><br />
        <input class="topcoat-text-input" id="inputAppServe" type="text" name="appSourceServe" ng-model="appData.appSourceServe" ng-disabled="appData.appSource!='serve'" ng-pattern="/.*\/config.xml(\?.*|#.*)?$/" ng-required="appData.appSource=='serve'" autocorrect="off" autocapitalize="off" />
        <span ng-show="addForm.appSourceServe.$error.required">Required</span>
        <span ng-show="addForm.appSourceServe.$error.pattern">Url must point to a config.xml file</span>
        <br />
    <div class="buttons">
        <button class="topcoat-button" ng-click="fetchQR()" ng-show="qr_enabled">Scan QR Code</button><br />
        <button class="topcoat-button--cta" ng-click="addApp()" ng-disabled="!(addForm.$valid)">Add</button>
        <a href="#/"><button class="topcoat-button" ng-click="back()">Back</button></a>
    </div>
</form>
