<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="CordovaAppHarnessRedirect"
    version="1.0.0">
  <engines>
    <engine name="cordova" version=">=2.6.0" />
  </engines>

  <name>Cordova App Harness Redirect Internal Urls</name>

  <platform name="android">
    <source-file src="src/android/CordovaAppHarnessRedirect.java" target-dir="src/org/apache/cordova/cordovaappharness" />

    <config-file target="res/xml/config.xml" parent="/cordova/plugins">
      <plugin name="CordovaAppHarnessRedirect" value="org.apache.cordova.cordovaappharness.CordovaAppHarnessRedirect">
        <url-filter value="file://" />
      </plugin>
    </config-file>
  </platform>

  <platform name="ios">
    <source-file src="src/ios/CordovaAppHarnessRedirect.m" />
    <header-file src="src/ios/CordovaAppHarnessRedirect.h" />

    <config-file target="config.xml" parent="/widget/plugins">
      <plugin name="CordovaAppHarnessRedirect" value="CordovaAppHarnessRedirect" onload="true" />
    </config-file>
  </platform>
</plugin>
