<form name="addForm" ng-controller="AddCtrl">
  <div>
    <label ng-show="editing">App name<br />
        <div><input type="text" class="topcoat-text-input" ng-model="appData.appId" autocapitalize="on" /></div>
    </label>
  </div>
  <div>
    <label ng-show="!editing">How to retrieve the app:<br>
        <select ng-model="appData.installerType">
            <option value="serve">cordova serve</option>
        </select>
    </label>
  </div>
  <div>
    <label>Enter URL
        <div><input class="topcoat-text-input" style="width:100%;-webkit-box-sizing:border-box" type="text" ng-model="appData.appUrl" autocorrect="off" autocapitalize="off"></div>
    </label>
  </div>
  <div>
    <button class="topcoat-button" ng-click="fetchQR(appData, 'appUrl')" ng-show="qrEnabled">QR Code</button>
  </div>
  <div>
    <select ng-model="appData.serveTemplateValue" ng-change="selectTemplate()">
        <option value="">Template</option>
        <option value="goo.gl/">goo.gl</option>
        <option value="localhost:8000">localhost</option>
        <option value="KEY.t.proxylocal.com">ProxyLocal</option>
        <option value="KEY.localtunnel.com">LocalTunnel</option>
        <option value="KEY.ngrok.com">ngrok</option>
    </select>
  </div>
  <div class="buttons">
      <button ng-click="addApp()" class="topcoat-button--cta">{{ editing ? 'Edit' : 'Add' }}</button>
      <a href="#/"><button class="topcoat-button" ng-click="back()">Back</button></a>
  </div>
</form>

