<!--
  Licensed to the Apache Software Foundation (ASF) under one
  or more contributor license agreements.  See the NOTICE file
  distributed with this work for additional information
  regarding copyright ownership.  The ASF licenses this file
  to you under the Apache License, Version 2.0 (the
  "License"); you may not use this file except in compliance
  with the License.  You may obtain a copy of the License at

  http://www.apache.org/licenses/LICENSE-2.0

  Unless required by applicable law or agreed to in writing,
  software distributed under the License is distributed on an
  "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
  KIND, either express or implied.  See the License for the
  specific language governing permissions and limitations
  under the License.
-->
<h2>{{ app.appId }}</h2>

<div class="topcoat-list__container">
    <h3 class="topcoat-list__header">Missing Plugins: {{ app.plugins.missing.length }}</h3>
    <ul class="topcoat-list">
        <li class="topcoat-list__item plugin-list-item" ng-repeat="plugin in app.plugins.missing">
            <div><strong>{{ plugin.id }}</strong>: {{ plugin.version }}</div>
        </li>
    </ul>
</div>

<div class="topcoat-list__container">
    <h3 class="topcoat-list__header">Older Plugins: {{ app.plugins.older.length }}</h3>
    <ul class="topcoat-list">
        <li class="topcoat-list__item plugin-list-item" ng-repeat="plugin in app.plugins.older">
            <div><strong>{{ plugin.id }}</strong></div>
            <div>App wants {{ plugin.versions.child }}</div>
            <div>Harness provides {{ plugin.versions.harness }}</div>
        </li>
    </ul>
</div>

<div class="topcoat-list__container">
    <h3 class="topcoat-list__header">Newer Plugins: {{ app.plugins.newer.length }}</h3>
    <ul class="topcoat-list">
        <li class="topcoat-list__item plugin-list-item" ng-repeat="plugin in app.plugins.newer">
            <div><strong>{{ plugin.id }}</strong></div>
            <div>App wants {{ plugin.versions.child }}</div>
            <div>Harness provides {{ plugin.versions.harness }}</div>
        </li>
    </ul>
</div>
<br />
<div class="buttons">
    <a href="#/"><button class="topcoat-button">Back</button></a>
</div>
